@import "../../app/mixin.scss";

.PoolsWrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow: auto;
    
    padding-block: 10px;

    @include md {
        padding-block: 30px;
    }

    @include lg {
        padding-block: 30px;
    }

    @include xl {
        padding-block: 40px;
    }

    @include xxl {
        padding-block: 50px;
    }
}
.PoolsWrapper::-webkit-scrollbar{
    display: none;
 }