@import "../../../../app/mixin.scss";

.TokenLabel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    width: 100%;
    background: var(--paper-black-dark);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(106.18deg, rgba(88, 88, 88, 0.04) -108.53%, #121212 86.85%), #101010;
    }

    .TokenDetails {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        .TokenLogo {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;

            @include md {
                width: 24px;
                height: 24px;
            }

            @include lg {
                width: 24px;
                height: 24px;
            }

            @include xl {
                width: 28px;
                height: 28px;
            }

            @include xxl {
                width: 32px;
                height: 32px;
            }
        }

        .TokenNameContainer {
            display: flex;
            flex-direction: column;

            .TokenName {
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                color: var(--text-white);

                @include md {
                    font-size: 12px;
                }

                @include lg {
                    font-size: 11px;
                }

                @include xl {
                    font-size: 14px;
                }

                @include xxl {
                    font-size: 16px;
                }
            }

            .ChainName {
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                color: #B3B3B3;

                @include md {
                    font-size: 8px;
                }

                @include lg {
                    font-size: 8px;
                }

                @include xl {
                    font-size: 10px;
                }

                @include xxl {
                    font-size: 12px;
                }
            }
        }
    }

    .TokenBalanceContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .BalanceText {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            color: var(--text-white);

            @include md {
                font-size: 12px;
            }

            @include lg {
                font-size: 11px;
            }

            @include xl {
                font-size: 14px;
            }

            @include xxl {
                font-size: 16px;
            }
        }

        .DollarValue {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            transition: all 0.1s ease-in-out;
            color: #B3B3B3;

            @include md {
                font-size: 8px;
            }

            @include lg {
                font-size: 8px;
            }

            @include xl {
                font-size: 10px;
            }

            @include xxl {
                font-size: 12px;
            }
        }

    }
}